/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '@fontsource-variable/roboto-flex';

:root {
    font-family: 'Roboto Flex Variable', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    min-width: 800px;
    min-height: 600px;

    font-family: 'Roboto Flex Variable', sans-serif;
}

.MuiDataGrid-cell:has(.Mui-error) {
    outline-color: #750f0f !important;
}

main {
    width: 100%;
    overflow: auto;
}
